.flexNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 100dvw;
}

.flexUl {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  width: 100%;
}

.flex {
  display: flex;
  gap: 2rem;
}

.flexUl > li:last-child {
  margin-left: auto;
}
