.flexNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 100dvw;
}

.flexUl {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  list-style-type: none;
  max-width: 70%;
  margin: 1.5rem auto;
}
