.styleUl {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  list-style-type: none;
  max-width: 70%;
  margin: 1.5rem auto;
}

.h2 {
  text-wrap-mode: stable;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 7%;
  gap: 2rem;
  width: 30rem;
}

.img {
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
}
