.title {
  display: flex;
  justify-content: center;
  margin-top: 5dvh;
  margin-bottom: 5dvh;
  color: var(--color-light-charcoal);
  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
  text-underline-position: below;
  text-decoration: underline wavy 0.1rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  list-style-type: none;
  max-width: 70%;
  margin: 1.5rem auto;
}

.p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  font-size: 1.5rem;
  font-style: italic;
}
