.headerPosition {
  position: sticky;
  top: 0;
  width: 100dvw;
  background-color: var(--color-dun);
  height: 10dvh;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
