.flexNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4dvh;
  width: 100dvw;
}

.flexUl {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.flex {
  display: flex;
  gap: 2rem;
}

.flexUl > li:nth-last-child(2) {
  margin-left: auto;
}

.logginRelatedButtons {
  display: flex;
  gap: 1rem;
  margin-left: auto;
  align-items: center;
}
